[submodule "hls_component/hls_component/cnpy"]
	path = hls_component/hls_component/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "hls_component/hls_component/json"]
	path = hls_component/hls_component/json
	url = https://github.com/nlohmann/json.git
